# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual environment
venv/
.venv/
env/

# Vector / chroma DB
chrome_langchain_db/

# Environment variables
.env
.env.*

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

poetry.lock